body{
    background: linear-gradient(110deg, black , red);
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: start;
    transform: translate();

}
#display_file{

    width: 850px;
    height: 100vh;
    border: 2px solid skyblue;
}
/*.login-form {
    display: block;
    width: 100%;
    height: 500vh;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}*/
.btn {        
    font-size: 15px;
    font-weight: bold;
}
#drop_zone {
    border: 1px solid blue;
    width:  600px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
  }
  .box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
    display: inline;
  }
.container-tools{letter-spacing: 10px;}
.topic{
font-size:25px;
padding:20px 20px;
letter-spacing: 2px;
background: tomato;
transition: .56s;
border-radius: 20px;
border-color: black;
border: none;
position:relative;
display: flex;
width: 100%;
margin: 12px 20px;
cursor: pointer;

}
.welcome-tools .indicator{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
  }
a{
    text-decoration:  none;
    color: black;

}
button{
    font-size: 40px;
    margin-left: 50%;
    margin-top: -34%;
    display: block;
    border-radius: 12px;
    background: tomato;
    color: skyblue;
    text-decoration: none;
}
button a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

